[submodule "themes/archie"]
	path = themes/archie
	url = git@github.com:bastienboutonnet/archie.git
[submodule "archie"]
	path = archie
	url = git@github.com:bastienboutonnet/archie.git
[submodule "themes/--force"]
	path = themes/--force
	url = git@github.com:bastienboutonnet/archie.git
